/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

/* Header */

header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:25px;
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

header h1{
    margin-bottom:10px;
}

#tip{
    font-size:18px;
    font-weight:bold;
}

/* Container */

.container{

    width:90%;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:20px;

}

/* Card */

.card{

    background:white;

    border-radius:12px;

    padding:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    transition:.3s;

}.card:hover{

    transform: translate(-5px);
}


.card h2{

    color:#2563eb;

    margin-bottom:15px;

}

/* Button */

button{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#0938bb;

}

/* Input */

input{

    width:100%;

    padding:10px;

    margin-bottom:10px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

}

/* Outputs */

#dateOutput,
#task6Output,
#task7Output{

    margin-top:15px;

    padding:10px;

    background:#eef3ff;

    border-radius:8px;

    min-height:40px;

    white-space:pre-line;

}

/* Responsive */

@media(max-width:768px){

    .container{

        width:95%;

    }

    header h1{

        font-size:24px;

    }

}